@import './Core.scss';

.company-logo{

    .container{
        padding-top: 70px;
        padding-bottom: 80px;
        display: flex;
        flex-direction: column;

        @media (min-width: 992px){
            flex-direction: row;
            justify-content: space-evenly;

        }

        img {

            margin: 50px;
            width: auto;

            @media (min-width: 992px){
                margin: 30px;
            }

            @media (min-width: 1200px){
                margin: 0px;
            }
        }
    }  
}