@import './Core.scss';

.form{

    .error{
        color: rgb(220, 22, 22);
        padding-left: 20px;
    }

    .container{
        background-color: #F0EFE9;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-top: 140px;
        padding-bottom: 90px;
        margin-bottom: 120px;

        .title{
            text-align: center;
        }

        .success{
            width: 50%;
            text-align: center;
            padding: 20px;
            margin: 0 auto;
            background-color: rgb(255, 255, 243);
            border-radius: 10px;
            border: 1px solid #f9d783;
        }

        form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;

            textarea{
                height: 160px;
            }

            button{
                margin-top: 24px;
            }

            @media(min-width: 992px){
                padding-left: 150px;
                padding-right: 150px;
            }
        }
    }
}